{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="login-form">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.email }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">Vous connecter</h1>
            {% for message in app.flashes('notice')  %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ lastUsername }}" name="email" id="inputEmail" class="form-control"
                   placeholder="Ex. example@gmail.com" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Votre mot de passe" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-secondary btn-block mt-3" type="submit">
                Se connecter
            </button>
            <hr>
{#            <p class="text-center"><a href="{{ path('reset_password') }}">Mot de passe oublié ?</a></p>#}
{#            <p class="text-center">Ou souhaitez vous <a href="{{ path('register') }}">Créez un compte ?</a></p>#}
        </form>
    </div>
{% endblock %}